# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Production
dist/
build/

# Misc
.DS_Store
*.log
.env
.env.local
.env.production

# IDE
.vscode/
.idea/
*.swp
*.swo
.vercel

# Server files
server/node_modules/
server/dist/
server/.env
server/.env.local
server/.env.production
server/*.log
